<a class="d-block text-decoration-none text-dark m-1" href="#">
    <div class="card" style="width: 240px;">
        <div class="overflow-hidden" style="height: 250px;">
            <img [src]="image" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <p class="card-text text-center fs-6 m-0">
                 ( {{rate}} )
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning "></i>
            </p>
            <span class="d-block text-center text-secondary fs-6 " >Al Khalifa</span>
            <p class="description text-dark fw-bold fs-5 overflow-hidden">{{desc}}</p>
            <span class="d-block text-center text-danger fw-bold ">{{price}} LE</span>
        </div>
    </div>
</a>