<div class="recard">
    <div class="card m-2 reveal-up" style="width: 235px;">
        <div class="overflow-hidden recardim" style="height: 250px;">
            <img [src]="image" class="card-img-top " alt="...">
        </div>
        <div class="cardicons">
            <a class="d-block text-decoration-none text-dark d-block text-center p-1 m-1 bg-light rounded-pill" style="width: 30px;height: 30px;" href="#"><i class="bi bi-heart"></i></a>
            <a class="d-block text-decoration-none text-dark d-block text-center p-1 m-1 bg-light rounded-pill" style="width: 30px;height: 30px;" href="#"><i class="bi bi-repeat "></i></a>
            <a class="d-block text-decoration-none text-dark d-block text-center p-1 m-1 bg-light rounded-pill" style="width: 30px;height: 30px;" href="#"><i class="bi bi-eye"></i></a>
        </div>
        <div class="card-body">
            <p class="card-text text-center fs-6 m-0">
                    ( {{rate}} )
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning pe-1"></i>
                <i class="bi bi-star text-warning "></i>
            </p>
            <span class="d-block text-center text-secondary fs-6 " >Al Khalifa</span>
            <p class="description text-dark fw-bold fs-5 overflow-hidden">{{desc}}</p>
            <span class="d-block text-center text-danger fw-bold ">{{price}} LE</span>
        </div>
    </div>
</div>

