<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <div>
            <a class="text-decoration-none text-dark" href="#"><h1>K<span class="oo fs-1 text-danger">oo</span>ra</h1></a>
        </div>
        <div class=" d-lg-none menu-item">
            <a class="text-decoration-none text-dark me-2 fs-3" href="#"><i class="bi bi-person-circle"></i></a>
            <a class="text-decoration-none text-dark fs-3" href="#"><i class="bi bi-list"></i></a>
        </div>
        <div class="d-none d-lg-block search w-50">
            <div class="input-group mb-3">
                <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">All categories</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Club shirts</a></li>
                    <li><a class="dropdown-item" href="#">football boots</a></li>
                    <li><a class="dropdown-item" href="#"> Sports bags</a></li>
                </ul>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="seicon d-flex justify-content-center align-items-center rounded-end w-25 bg-danger"><i class="bi bi-search text-light"></i></div>
            </div>
        </div>
        <div class="d-none d-lg-block icon">
            <i class="logo bi bi-gitlab fs-1"></i>
        </div>
    </div>
    <div class="d-none d-lg-flex justify-content-between border-top shadow-sm">
        <div class="d-flex left h-100">
            <div class="h-100">
                <div class="dropdown">
                    <button class="h-100 d-flex justify-content-center align-items-center btn btn-danger dropdown-toggle rounded-0" style="padding: 0 150px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="me-1 fs-3 bi bi-list"></i>
                        All Catigories
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <ul class="h-100 list-group list-group-horizontal">
                    <li class="list-group-item d-flex align-items-center" style="border: none;"><a class="home text-decoration-none text-dark" href="#">Home</a></li>
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trademarks
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="right d-flex  align-items-center">
            <div class="py-2 px-3 border-end"><a class="login text-decoration-none text-dark fs-6" href="#">signup/login</a></div>
            <div class="py-2 px-3 border-end"><a class="compare text-decoration-none text-dark" href="#"><i class="bi bi-repeat "></i></a></div>
            <div class="py-2 px-3 border-end"><a class="fav text-decoration-none text-dark" href="#"><i class="bi bi-heart "></i></a></div>
            <div class="py-2 px-3 "><a class="cart text-decoration-none text-dark" href="#"><i class="bi bi-bag "></i></a></div>
        </div>
    </div>
</div>