<a href="#" class="d-block text-decoration-none text-dark reveal-up">
    <div class="spcard p-2" style="width: 200px;">
        <div class="image rounded-2 overflow-hidden" style="height: 180px;">
            <div class="seen p-1 rounded-pill">
                <i class="bi bi-eye text-light"></i>
            </div>
            <img [src]="image" class="card-img-top" alt="">
        </div>
        <div class="info">
            <p class="description text-dark fw-bold fs-5 overflow-hidden">{{desc}}</p>
            <span class="d-block text-center text-danger fw-bold">{{price}}L.E</span>
        </div>
    </div>
</a>

